<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Vivant: The Hub for All Things Social Cannabis</title>
    <link rel="stylesheet" href="styles.css">
    {% block head %} {% endblock %}
</head>
<body>
    <div class="header">
        <div class="header-name">Vivant</div>

        <div class="header-search">
            <form action="/about" >
                <input type="text" placeholder="Search">
            </form>
        </div>
        
        <div class="header-values">
            <div class="header-button">
                <h4><a href="/about">About</a></h4>
            </div>
            <div class="header-button">
                <h4><a href="/about">Events</a></h4>
            </div>
            <div class="header-button">
                <h4><a href="/about">Host</a></h4>
            </div>
            <div class="header-button">
                <h4><a href="/about">Log in</a></h4>
            </div>
            <div class="header-button">
                <h4><a href="/about">Get Started</a></h4>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>