{% extends 'base.html' %}

{% block content %}


    <!-- Sub-hero -->
    <section class="section has-background-light" id="about-hero">
        <div class="container">
            <h2 class="title is-size-2 has-text-centered has-text-white">THANKS FOR CONNECTING!</h2>
            <h3 class="subtitle is-size-4 has-text-centered has-text-white">We are excited to share our progress with you.</h3>
        </div>
    </section>
    <!-- /Sub-hero -->


    <!-- Main -->
    <section class="section">
        <div class="container">
            <h2 class="title is-size-3">In the Meantime, Help us Launch the Right Way.</h2>
            <h3 class="subtitle is-size-5">As a brand-new startup, we could use your feedback to create the best experience possible. Fill out the form below and let your voice be heard in building the future of social cannabis.</h3><br>
            <h3 class="subtitle is-size-6">Please note that we are launching in Denver, CO but we welcome your input regardless of your location!</h><br>
        </div>
        <br>
        <div class="container has-background-light">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">What types of cannabis-based events are you most interested in?</label>
                </div>
                <div class="field-body">
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Concerts
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Comedy Shows
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Bud Tastings
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Wellness & Yoga Events
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Food-Related Events
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Educational Events
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Casual Events & Parties
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Other
                                <input type="text" name="other-text">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Locations -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">What neighborhoods of Denver are you most interested in having events?</label>
                </div>
                <div class="field-body">
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                River North (RiNO)
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Lower Downtown (LoDo)
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Lower Highlands (LoHi)
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                South Broadway
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                City Park
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Other
                                <input type="text" name="other-text">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dispensary -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">What is your most frequented cannabis dispensary?</label>
                </div>
                <div class="field-body">
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Native Roots
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                The Green Solution
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                LivWell
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Charlotte's Web
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Terrapin Care Station
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Green Dragon
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                LightShade
                                </label>
                                <label class="checkbox">
                                <input type="checkbox" name="member">
                                Other
                                <input type="text" name="other-text">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!-- Dispensary -->
        <div class="container has-background-light">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Would you be interesting in being a Beta tester of Vivant’s platform? </label>
                </div>
                <div class="field-body">
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="member">
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="member">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div> 
        </div>   

        <div class="container has-background-light">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">What is your zip code?</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="number" placeholder="Zip Code" maxlength="5">
                        </div>
                        <p class="help">Optional</p>
                    </div>
                </div>
            </div>    
        </div>
            
        <div class="container has-background-light">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">What is your phone number?</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="number" placeholder="Phone Number" maxlength="10">
                        </div>
                        <p class="help">Optional</p>
                    </div>
                </div>
            </div>  
        
            <div class="container has-background-light">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">What else are you looking forward to?</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Any Recommendations?" maxlength="150">
                                <p class="help">150 Character Limit</p>
                            </div>
                        </div>
                    </div>
                </div>  


            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary">
                            Submit
                    </button>
                </div>
                </div>
            </div>  
        </div>
    </section>


{% endblock %}