{% extends 'base.html' %}

{% block content %}


<!-- /Hero -->
    <div class="section has-background-light" id="about-hero">
        <div class="container">
            <h1 class="title is-size-1 has-text-centered has-text-white" style="top: 5%; left: 20%px; padding: 5%;">HOST RESOURCES</h1>
        </div>
    </div>
<!-- /.Hero -->


<!-- /Main -->
    <div class="section">
        <div class="container" style="margin-bottom: 5%;">
            <h2 class="title is-size-2 has-text-centered">Vivant makes it easy to bring people together</h2>
            <h3 class="subtitle is-size-4" style="padding: 10px 3% 0 8%;">With everything you need to build and manage your events, your teams can seamlessly engage your community.</h3>
        </div>
        <div class="container">
            <div class="columns">

                <div class="column">
                    <article class="media notification">
                        
                        <article class="media">
                            <figure class="media-left">
                                <span class="icon has-text-dark">
                                    <i class="fas fa-university"></i>
                                </span>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h2 class="subtitle is-size-4" style="color: rgb(2, 177, 113);">Set Up & Compliance</h2>
                                    <p class="is-size-6">We provide you the know-how to start throwing events & stay compliant with social consumption laws.</p>
                                </div>
                            </div>
                        </article>
                    </article>
                </div>

                <div class="column">
                    <article class="media notification">
                        
                        <article class="media">
                            <figure class="media-left">
                                <span class="icon has-text-dark">
                                    <i class="fas fa-code"></i>
                                </span>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h2 class="subtitle is-size-4" style="color: rgb(2, 177, 113);">Technology & Data</h2>
                                    <p class="is-size-6">Simple event management, ticket sales, and customer engagement data through our APIs.</p>
                                </div>
                            </div>
                        </article>
                    </article>
                </div>

                <div class="column">
                    <article class="media notification">
                        
                        <article class="media">
                            <figure class="media-left">
                                <span class="icon has-text-dark">
                                    <i class="fas fa-chart-line" aria-hidden="true"></i>
                                </span>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h2 class="subtitle is-size-4" style="color: rgb(2, 177, 113);">Generate Revenue & Customer Leads</h2>
                                    <p class="is-size-6">Host events to sell tickets for additional revenue streams or to introduce your customers to new products.</p>
                                </div>
                            </div>
                        </article>
                    </article>
                </div>

            </div>
        </div>
    </div>
<!-- /.Main -->


<!-- /Para -->
    <section class="section has-background-dark">
        <div class="container">
            <div class="columns">
                <div class="column is-1"></div>
                <div class="column">
                    <h2 class="title is-size-2" style="color: rgb(0, 197, 126);">Start with a Vision...</h2>
                    <p class="content is-size-6 has-text-white">...a tailored event or unique experience. Now what do you need to execute? This is where we come in. Upon connecting with us directly, you will have access to location scouting, social license procurement, on-premise cannabis sales, security, and much more. Then, we’ll gladly host your event’s landing page - information, ticketing sales, etc. while offering you exposure to our full network of attendees. This will allow you to expand your ticket sales as well as improve your reach to the individuals and brands perusing our targeted website.
                    </p>
                    <div class="container has-text-centered">
                        <a href="#stay-connected-section" class="button is-outlined">Connect with Us</a>
                    </div>
                </div>
                <div class="column">
                    <figure class="image center">
                        <img src="static/color-party.jpg" style="max-width: 500px;">
                    </figure>
                </div>
                <div class="column is-1"></div>
            </div>
        </div>
    </section>
    <!-- /.Para -->


<!-- .stay connected form -->
    <section class="section" id="stay-connected-section">
        <div class="container has-text-centered">
            <h1 class="title is-size-2 has-text-centered has-text-white">Social Consumption at its Finest</h1>
            <p class="paragraph is-size-5 has-text-white">Connect with us to get started building the future of social cannabis.</p>
        </div>
        <br>
        <div class="container" style="padding-right: 10%;">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label has-text-white">Info</label>
                </div>
                <div class="field-body">
                    <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" placeholder="Name">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                    </p>
                    </div>
                    <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                    </div>
                </div>
                </div>
                <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label has-text-white">Subject</label>
                </div>
                <div class="field-body">
                    <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g. Partnership opportunity">
                    </div>
                    </div>
                </div>
            </div>
                
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label has-text-white">Question</label>
                </div>
                <div class="field-body">
                    <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="How can we help you?"></textarea>
                    </div>
                    </div>
                </div>
                </div>
                
                <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                    <div class="control">
                        <button class="button is-primary">
                        Submit
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.stay connected -->

{% endblock %}