{% extends 'base.html' %}

{% block content %}
    <!-- .hero -->
    <section class="hero is-large">
        <div class="hero-body" style="padding: 0 24px 24px 24px;">
            <div class="columns">
                <div class="column" id="hero-column-1">
                    <h2 class="title has-text-white-ter is-2" style="top: 10%; left: 20%px;padding-top: 10%;">THE SOURCE OF ALL</h1> 
                    <h1 class="title is-1" id="hero-text-mid" style="margin: -18.75px 0 0 0;">CANNABIS FRIENDLY</h1>
                    <h2 class="title has-text-white-ter is-2" >EVENTS</h1>
                    <h3 class="subtitle has-text-grey-light" id="hero-subtitle" style="margin: 0 0 30px 0;">Connecting you to the best social consumption spots in Denver</h2>
                    <a class="button is-primary" href="#stay-connected-section">
                        <strong>Coming Soon</strong>
                    </a>
                </div>
                <div class="column desktop" id="hero-column-2">
                    <img src="static/smoke-break.jpg">
                </div>
            </div>
        </div>
    </section>
    <!-- /.hero -->


    <!-- . coming soon -->
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-size-2 has-text-centered">COMING SOON!</h1>
            <div class="content is-medium notification" style="align-items: center;">
                <p class="content">Vivant is currently in the process of building our ecosystem and our products. We expect to start delivering world class social consumption events in 2021. Stay tuned!</p>
            </div>
            <a href="#stay-connected-section" class="button is-primary">Stay Connected</a>
        </div>
    </section>
    <!-- /.coming soon -->


    <!-- .about -->
    <section class="section has-background-dark">
        <div class="container">
            <div class="columns">
                <div class="column is-1"></div>
                <div class="column">
                    <h2 class="title is-size-2" style="color: rgb(0, 197, 126);">Live Events, Social Consumption</h2>
                    <p class="content is-medium has-text-white">We are working hard and teaming up with the best venues and performers to bring you all the latest cannabis-friendly events and deals across Denver. Join our mailing list to stay up to date on our progress!</p>
                    <div class="container has-text-centered">
                        <a href="#stay-connected-section" class="button is-outlined">Connect with Us</a>
                    </div>
                </div>
                <div class="column">
                    <figure class="image center desktop">
                        <img src="static/original-size-rocker-boy-2.png" style="max-width: 500px;">
                    </figure>
                </div>
                <div class="column is-1"></div>
            </div>
        </div>
    </section>
    <!-- /.about  -->


    <!-- .host -->
    <section class="section has-background-light">
        <div class="container">
            <div class="columns">
                <div class="column is-1"></div>
                <div class="column">
                    <figure class="image center desktop">
                        <img src="static/festival-girl.PNG" style="max-width: 500px;">
                    </figure>
                </div>
                <div class="column">
                    <h2 class="title is-size-2 has-text-black">Want to Host an Event? We can Help.</h2>
                    <p class="content is-medium">Our partners know all the ins and outs of getting set up as a cannabis event space. We will provide support with everything from compliance to ticketing to marketing. Join our growing network of locations, performers, and attendees!</p>
                    <div class="container has-text-centered">
                        <a href="/#stay-connected" class="button is-primary">Host an Event</a>
                    </div>
                </div>
                <div class="column is-1"></div>
            </div>
        </div>
    </section>
    <!-- /.host  -->



    <!-- .stay connected -->
    <section class="section" id="stay-connected-section">
        <div class="container has-text-centered">
            <h1 class="title is-size-2 has-text-centered">STAY CONNECTED</h1>
            <p class="content is-medium notification">We are a young & fast moving cannabis startup and can’t wait to launch with the most premiere cannabis events in the world.</p>
            <p class="paragraph is-size-5">Sign Up for Early Access to Exclusive Cannabis Events and Deals</p>
        </div>
        <br>
        <div class="columns">
            <div class="column is-offset-3">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input is-focused" type="text" placeholder="Name">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input is-focused" type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p>
                        <input class="button is-primary" type="submit" placeholder="Submit" id="form-submit">
                    </p>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </section>
    <!-- /.stay connected -->

{% endblock %}

 