.age-verification {
  position: fixed;
  background-color: white;
  padding: 30px 60px;
  border-radius: 8px;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
  transform: translateX(-50%) translateY(50%);
  z-index: 3;
  box-shadow: 1px 4px 4px gainsboro;
}
